@charset "UTF-8";
/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;


// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


.pk-dark-primary {
  background-color: #2e4a94;
  color: #FFFFFF;
}

.pk-primary {
  background-color: #4875e9;
  color: #FFFFFF;
}

.pk-light-primary {
  background-color: #CFD8DC;
  color: #212121;
}

.pk-accent {
  background-color: #FFC107;
  color: #FFFFFF;
}

.pk-primary-text {
  color: #212121;
}

.pk-secondary-text {
  color: #727272;
}

.pk-divider {
  color: #B6B6B6;
}

div.pk-dark-primary{
  background-color: #2e4a94;
}

.bar button.pk-dark-primary{
  background-color: #4875e9;
  color: #FFFFFF;
  border-color: transparent;
  color: #FFFFFF;
}

.bar button.pk-primary{
  background-color: #4875e9;
  color: #FFFFFF;
  border-color: transparent;
  color: #FFFFFF;
}

.pk-dark-primary .title, .pk-dark-primary .button {
  color: #FFFFFF;
}

.pk-primary .title, .pk-primary .button {
  color: #FFFFFF;
}

.pk-accent .title {
  color: #FFFFFF;
}

.map-slider-desc {
  position: absolute;
  left: 10px;
}

.map-slider-thumbnail {
  position: absolute;
  right: 0px;
}

img.list-thumbnail {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

span.place-item-name {
  font-size: 90%;
}

span.place-item-addr {
  font-size: 80%;
  color: #727272;
}

div.place-item-note {
  font-size: 90%;
  display: inline-block;
}

span.place-item-tag {
  font-size: 85%;
  margin: 2px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background-color: #727272;
  color: #FFFFFF;
}

.post-container {
  font-size: 85%;
  color: #727272;
}

.place-post-container {
  padding: 20px;
  text-align: center;
}

.place-name {
  font-size: 150%;
  margin-bottom: 10px;
}

.user-post-container {
  background-color: #CFD8DC;
  /*border-radius: 5px;*/
  /*margin: 10px;*/
  margin-top: 5px;
  padding: 8px;
}

.user-post-container .user-post-title {
  /*border: 1px solid #555555;*/
  text-align: center;
  margin-bottom: 5px;
}
.user-post-container .user-note {
  color: #212121;
  /*border-radius: 5px;*/
  padding: 5px;
  background-color: #FFFFFF;
  margin-bottom: 5px;
}

.user-post-container .user-image {
  max-width: 100%;
  /*text-align: center;*/
  /*position: relative;*/
  background-color: #FFFFFF;
  padding-top: 6px;
}

.user-post-container .user-image .image-preview {
  width: auto;
  /*height: 300px;*/
}

.user-post-container .user-image .user-image-comment {
  background-color: #313131;
  opacity: 0.85;
  color: #FFFFFF;
  padding-top: 12px;
  width: 100%;
  height: 40px;
  position: absolute;
  top: 155px;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.transparent {
  background: rgba(0,0,0,0.7);
}

.image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider-scroll-on-map {
  position: absolute;
  bottom: 0px;
}

.button-toggle-info-window {
  position: absolute;
  right: 65px;
  bottom: 95px;
  border: 1px solid grey;
  border-radius: 5px;
  opacity: 0.85;
}

.button-show-list {
  position: absolute;
  right: 5px;
  bottom: 95px;
  border: 1px solid grey;
  border-radius: 5px;
  opacity: 0.85;
}

.page {
  float: left;
  display: inline-block;
  border: 1px solid #B6B6B6;
  padding: 5px;
  background-color: white;
  color: #727272;
  opacity: 0.85;
}

.slider-scroll-on-map a:link,
.slider-scroll-on-map a:visited,
.slider-scroll-on-map a:hover {
  color: black;
  text-decoration: none;
}

.slider-scroll-on-map .place-desc {
  font-size: 80%;
  color: #727272;
}

.slider-scroll-on-map .place-note {
  font-size: 90%;
}

/* ionic component customizing area*/
.item-complex .item-content {
  padding-top: 8px;
  padding-bottom: 8px;
}

.popup-container .popup {
  width: 100%;
}

.button.button-more-width {
  width: 200px;
}

.gm-style-iw {
   width: 100px !important;
   top: 48px !important; // move the infowindow 15px down
   left: 0 !important;
   background-color: #fff;
   /*box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);*/
   border: 1px solid rgba(72, 181, 233, 0.6);
   /*border-radius: 2px 2px 0 0;*/
}

.iw-container .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 12px;
   padding: 3px;
   background-color: #48b5e9;
   color: white;
   /*margin: 1px;*/
   width: 100px;
   height: 26px;
   overflow: hidden;
   text-align: center;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

.iw-container .iw-content {
  text-align: center;
}

.iw-container .tag {
  background-color: #FFC107;
  color: #FFF;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px 5px 5px 5px;
  font-size: 12px;
  text-align: center;
}

@import "www/register/style",
        "www/saveplace/style";
