@charset "UTF-8";

// $pk-dark-primary: #2e4a94;
$pk-dark-primary: #4C5AA6;
$pk-primary: #4875e9;
$pk-light-primary: #CFD8DC;
$pk-accent: #FFC107;
$pk-text-color: #FFFFFF;

.pk-dark-primary {
  background-color: $pk-dark-primary;
  color: $pk-text-color;
}

.pk-primary {
  background-color: $pk-primary;
  color: $pk-text-color;
}

.pk-light-primary {
  background-color: $pk-light-primary;
  color: #212121;
}

.pk-accent {
  background-color: $pk-accent;
  color: $pk-text-color;
}

.bar {
  button.pk-dark-primary{
    background-color: $pk-dark-primary;
    color: $pk-text-color;
    border-color: transparent;
  }

  button.pk-primary{
    background-color: $pk-primary;
    color: $pk-text-color;
    border-color: transparent;
  }
}

.pk-dark-primary .title,
.pk-dark-primary .button,
.pk-primary .title,
.pk-primary .button,
.pk-accent .title
{
  color: $pk-text-color;
}

img.list-thumbnail {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

span.place-item-name {
  font-size: 90%;
}

span.place-item-addr {
  font-size: 80%;
  color: #727272;
}

div.place-item-note {
  font-size: 90%;
  display: inline-block;
}

@mixin tag-style() {
  margin: 2px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #727272;
  color: #FFFFFF;
}

span.place-item-tag {
  font-size: 85%;
  @include tag-style();
}

div.place-item-tag {
  font-size: 85%;
  display: inline-block;
  @include tag-style();
}

span.place-item-tag-large {
  font-size: 100%;
  @include tag-style();
}

.place-star-point {
  color: $pk-accent;
  display: inline-block;
}

//  begin : tag input
div#container{
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 4px;
  margin: 0px;
  left: 0px;
  // height: 36px;
  background-color: rgba(255, 255, 255, 0.0);
}

label#rounded{
  position: relative;
  border: 1px solid silver;
  border-radius:18px;
}

label.chat-input {
  padding-top: 0px;
  padding-bottom: 0px;
}
//  end : tag input

/* ionic component customizing area*/
.item-complex .item-content {
  padding-top: 8px;
  padding-bottom: 8px;
}

.popup-container .popup {
  width: 100%;
}

.button.button-more-width {
  width: 200px;
}

.slider-pager .slider-pager-page {
    color: #FFFFFF;
}
