@charset "UTF-8";

.register {
  text-align: center;
  color: #FFFFFF;

  a {
    color: #FFC107;
  }
}

.app-title {
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 50px;

  .main-title {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 2px #B6B6B6;
  }

  .sub-title {
    text-align: right;
    color: #FFFFFF;
  }
}

.introduction {
  align-text: center;
  font-size: 90%;
}

.register-content {
  padding-top:30%;
}

.register-button-container {
  padding-top: 10%;
}

.company {
  padding-top: 30px;
}

.company-name {
  color: #FFFFFF;
  font-size: 60%;
}

.company-logo img {
  height: 96px;
}
