<!-- start : real contents area -->
<ion-view title="목록으로 보기">
	<ion-header-bar class="pk-dark-primary" align-title="center">
		<!-- <button class="button button-icon button-clear ion-ios-plus-outline pk-primary" ng-click="importUser.showDelete = !importUser.showDelete"></button> -->
		<h1 class="title">가져오기</h1>
		<button class="button button-icon button-clear ion-plus pk-dark-primary" ng-click="importUser.addUserImport()"></button>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="importUser.doRefresh()">
  	</ion-refresher>
		<ion-list show-delete="importUser.showDelete">
			<div class="item item-divider">
		    총 {{importUser.totalCount}}개의 장소를 가져왔습니다.
		  </div>
			<!-- <ion-item collection-repeat="post in importUser.iplaces" item-width="importUser.itemWidth" item-height="importUser.itemHeight" href="#/places/{{post.uplace_uuid}}"> -->
			<ion-item collection-repeat="post in importUser.iplaces">
				<ion-delete-button class="ion-minus-circled"></ion-delete-button>
				<img class="list-thumbnail" ng-src="{{post.thumbnailURL}}" alt="{{post.name}}">
				<span class="place-item-name"><strong>{{post.name}}</strong></span><br>
				<span class="place-item-addr"><strong>{{post.distance_from_origin}}</strong>&nbsp;{{post.address}}</span><br>
				<div class="place-item-note">{{post.desc}}</div><br>
				<span class="place-item-tag" ng-repeat="tag in post.tags">{{tag}}</span>
				<ion-delete-button class="ion-minus-circled" ng-click="importUser.onItemDelete(post)">
      	</ion-delete-button>
      	<ion-option-button class="button-energized icon ion-ios-download-outline" ng-click="importUser.take($index)"></ion-option-button>
      	<ion-option-button class="button-assertive icon ion-ios-trash-outline" ng-click="importUser.drop($index)"></ion-option-button>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="!importUser.isEndOfList()" on-infinite="importUser.doRefresh('bottom')" immediate-check="false" distance="1%">
	  </ion-infinite-scroll>
	</ion-content>
</ion-view>
<!-- end : real contents area -->
