<!-- start : real contents area -->
<ion-view title="목록으로 보기">
	<ion-header-bar class="pk-primary" align-title="center">
		<button class="button button-icon icon ion-chevron-left pk-primary" ng-click="plNotYet.goBack()">Back</button>
		<h1 class="title">저장한 목록</h1>
		<!-- <button class="button button-icon button-clear ion-connection-bars pk-primary
		" ng-click="plNotYet.popOverOrdering($event)"></button> -->
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="plNotYet.doRefresh('top')">
  	</ion-refresher>
		<ion-list show-delete="plNotYet.showDelete">
			<div class="item item-divider">
		    저장된 {{plNotYet.posts.length}}개 항목이 정보화 대기중입니다
		  </div>
			<ion-item collection-repeat="post in plNotYet.posts" item-width="plNotYet.itemWidth" item-height="plNotYet.itemHeight" href="#/places/{{post.uplace_uuid}}">
				<img class="list-thumbnail" ng-src="{{post.thumbnailURL}}" alt="{{post.name}}">
				<span class="place-item-name"><strong>{{post.name}}({{0}})</strong></span>
				&nbsp;-&nbsp;<span class="place-item-addr">{{post.datetime}}</span><br>
				<span class="place-item-addr">{{post.address}}</span><br>
				<div class="place-item-note">{{post.desc}}</div><br>
				<span class="place-item-tag" ng-repeat="tag in post.tags track by $index">{{tag}}</span>
				<ion-delete-button class="ion-minus-circled" ng-click="plNotYet.onItemDelete(post)">
      	</ion-delete-button>
				<ion-option-button class="button-assertive" ng-click="plNotYet.delete(post)">
        	Delete
      	</ion-option-button>
      	<!-- <ion-option-button class="button-energized" ng-click="plNotYet.share(post)">
        	Share
      	</ion-option-button> -->
			</ion-item>
		</ion-list>
		<!-- <ion-infinite-scroll ng-if="!plNotYet.endOfList" on-infinite="plNotYet.doRefresh('bottom')" distance="1%">
	  </ion-infinite-scroll> -->
	</ion-content>
</ion-view>
<!-- end : real contents area -->

<script id="popover-ordering-not-yet.html" type="text/ng-template">
	<ion-popover-view>
		<ion-content>
			<div class="list">
				<button class="item button button-clear button-full" ng-click="plNotYet.orderByDate()">최신순</button>
				<button class="item button button-clear button-full" ng-click="plNotYet.orderByDistance()">거리순</button>
			</div>
		</ion-content>
	</ion-popover-view>
</script>
