<!-- start : real contents area -->
<ion-view title="목록으로 보기">
	<ion-header-bar class="pk-primary" align-title="center">
		<!-- <button class="button button-icon icon ion-ios-minus-outline pk-primary" ng-click="places.showDelete = !places.showDelete"></button> -->
		<h1 class="title">장소 목록 보기</h1>
		<button class="button button-icon button-clear ion-connection-bars pk-primary
		" ng-click="places.popOverOrdering($event)"></button>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="places.doRefresh('top')">
  	</ion-refresher>
		<a class="button button-small button-full button-stable" style="text-align:right;border-radius:20px;background-color:#CFD8DC;padding-right:10px;" ng-href="#/places-not-yet" ng-show="places.notYetCount > 0">{{places.notYetCount}}개의 저장한 장소가 정보화 대기중입니다. <i class="ion-arrow-right-c"></i></a>
		<ion-list show-delete="places.showDelete">
			<div class="item item-divider">
		    총 {{places.totalCount}}개의 장소가 저장되어 있습니다.
		  </div>
			<ion-item collection-repeat="post in places.posts" item-width="places.itemWidth" item-height="places.itemHeight" href="#/places/{{post.uplace_uuid}}">
				<img class="list-thumbnail" ng-src="{{post.thumbnailURL}}" alt="{{post.name}}">
				<span class="place-item-name"><strong>{{post.name}}</strong></span><br>
				<span class="place-item-addr"><strong>{{post.distance_from_origin}}</strong>&nbsp;{{post.address}}</span><br>
				<div class="place-item-note">{{post.desc}}</div><br>
				<span class="place-item-tag" ng-repeat="tag in post.tags">{{tag}}</span>
				<ion-delete-button class="ion-minus-circled" ng-click="places.onItemDelete(post)">
      	</ion-delete-button>
      	<ion-option-button class="button-assertive" ng-click="places.delete(post)">
        	Delete
      	</ion-option-button>
      	<!-- <ion-option-button class="button-energized" ng-click="places.share(post)">
        	Share
      	</ion-option-button> -->
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="!places.isEndOfList()" on-infinite="places.doRefresh('bottom')" distance="1%">
	  </ion-infinite-scroll>
	</ion-content>
</ion-view>
<!-- end : real contents area -->

<script id="popover-ordering.html" type="text/ng-template">
	<ion-popover-view>
		<ion-content>
			<div class="list">
				<button class="item button button-clear button-full" ng-class="{'button\-positive':places.isActiveMenu(0)}" ng-click="places.changeOrderingType(0)">최근의</button>
				<button class="item button button-clear button-full" ng-class="{'button\-positive':places.isActiveMenu(1)}" ng-click="places.changeOrderingType(1)">오래된</button>
				<button class="item button button-clear button-full" ng-class="{'button\-positive':places.isActiveMenu(2)}" ng-click="places.changeOrderingType(2)">가까운</button>
				<button class="item button button-clear button-full" ng-class="{'button\-positive':places.isActiveMenu(3)}" ng-click="places.changeOrderingType(3)">먼</button>
			</div>
		</ion-content>
	</ion-popover-view>
</script>
