<ion-view>
	<ion-header-bar class="pk-primary">
		<div class="buttons">
	    <button class="button-clear button-icon ion-chevron-left ion-arrow-left pk-primary" ng-click="place.goBack()">
	      뒤로
	    </button>
		</div>
		<h1 class="title">{{place.post.placePost.name?place.post.placePost.name.content:'등록 대기중'}}</h1>
		<div class="buttons">
			<!-- <button class="button-clear button-icon ion-share pk-primary" ng-click=""></button> -->
	    <button class="button-clear button-icon ion-trash-a pk-primary" ng-click="place.deletePlace()"></button>
		</div>
	</ion-header-bar>
	<ion-content class="post-container">
		<!-- placePost 영역 -->
		<article class="place-post-container" ng-show="place.post.placePost.name">
			<!-- <div class="place-name">
				<strong>{{place.post.placePost.name.content}}</strong>
			</div> -->
			<div class="place-addr">
				<i class="ion-flag"></i>&nbsp;&nbsp;{{place.post.placePost.addrs[0].content}}
			</div>
			<div class="place-phone">
				<i class="ion-ios-telephone"></i>&nbsp;&nbsp;<a href="#">{{place.post.placePost.phone.content}}</a>
			</div>
			<div class="place-tags-container">
				<span class="place-item-tag" ng-repeat="tag in place.post.tags">{{tag}}&nbsp;</span>
			</div>
		</article>

		<!-- URL, Image 추가 영역 -->
		<div class="button-bar">
			<a class="button pk-accent button-icon ion-image" ng-click="place.addPhoto()"> 사진 추가</a>
			<a class="button pk-accent button-icon ion-link" ng-click="place.addUrl()"> URL 추가</a>
		</div>

		<!-- userPost 영역 -->
		<article class="user-post-container">
			<div class="user-post-title">
				{{place.postHelper.getTimeString(place.post.userPost.notes[0].timestamp)}}
			</div>
			<section class="user-note" ng-repeat="url in place.post.userPost.urls">
				<a ng-href="{{url.content}}">{{url.content}}</a><br>
				at {{place.postHelper.getTimeString(url.timestamp)}}
			</section>
			<section class="user-note" ng-repeat="note in place.post.userPost.notes">
				{{note.content}}<br>
				at {{place.postHelper.getTimeString(note.timestamp)}}
			</section>
			<section class="user-image" ng-repeat="image in place.post.userPost.images track by $index">
				<img class="image-preview" ng-src="{{image.summary}}" ng-click="place.showImagesWithFullScreen($index)">
				<div class="user-image-comment" ng-show="image.note">
					{{image.note}}
				</div>
			</section>
		</article>
		<p><strong>{{place.getTagString()}}</strong></p>
	</ion-content>
</ion-view>
