<ion-view>
	<ion-header-bar class="pk-primary">
		<div class="buttons">
	    <button class="button-clear button-icon ion-chevron-left ion-arrow-left pk-primary" ng-click="place.goBack()">
	      뒤로
	    </button>
		</div>
		<h1 class="title">{{place.post.placePost.name?place.post.placePost.name:'등록 대기중'}}</h1>
		<div class="buttons">
			<button class="button-clear button-icon ion-share pk-primary" ng-click=""></button>
	    <button class="button-clear button-icon ion-trash-a pk-primary" ng-click=""></button>
		</div>
	</ion-header-bar>
	<ion-content class="post-container">
		<article class="place-post-container" ng-show="place.post.placePost.name">
			<div class="place-addr">
				<i class="ion-flag"></i>&nbsp;&nbsp;{{place.post.placePost.addrs[0].content}}
			</div>
			<div class="place-phone">
				<i class="ion-ios-telephone"></i>&nbsp;&nbsp;{{place.post.placePost.phone}}
			</div>
			<div class="place-tags-container">
				<!-- <span class="place-item-tag">판교맛집&nbsp;</span><span class="place-item-tag">단골&nbsp;</span><span class="place-item-tag">녹두부침개&nbsp;</span><span class="place-item-tag">온반</span> -->
				<span class="place-item-tag" ng-repeat="tag in place.post.tags">{{tag}}&nbsp;</span>
			</div>
		</article>
		<article class="user-post-container">
			<div class="user-post-title">
				2016. 03.18. 점심
			</div>
			<section class="user-note">
				{{place.post.userPost.notes[0].content}}
			</section>
			<section class="user-image">
				<img ng-src="https://dcimgs.s3.amazonaws.com/images/r_images/51587/58817/51587_58817_80_0_8139_201554183752653_300x200.jpg">
				<div class="user-image-comment">
					이미지 코멘트
				</div>
			</section>
			<section class="user-image">
				<img ng-src="https://dcimgs.s3.amazonaws.com/images/r_images/51587/58817/51587_58817_80_0_8139_201554183752653_300x200.jpg">
				<div class="user-image-comment">
					이미지 코멘트
				</div>
			</section>
		</article>
		<!-- <ion-scroll direction="x" class="image-container">
      <img ng-repeat="image in place.images track by $index" class="image-list-thumb" ng-show="image !== undefined" ng-src="{{ image }}">
    </ion-scroll>
		<div class="address">
			<span style="position:relative;top:5px;">경기도 성남시 삼평동 판교역로 25번길 3</span>
      <button class="button button-icon pk-accent ion-map button-small">지도보기</button>
		</div>
		<blockquote>
      {{place.comment}}
    </blockquote> -->
		<p><strong>{{place.getTagString()}}</strong></p>
	</ion-content>
</ion-view>
