<ion-view>
	<ion-header-bar class="pk-primary" align-title="center">
		<div class="buttons">
	    <button class="button-clear button-icon ion-chevron-left ion-arrow-left pk-primary" ng-click="place.goBack()">
	      뒤로
	    </button>
		</div>
		<h1 class="title">{{place.post.name || '등록 대기중'}}</h1>
		<div class="buttons">
			<!-- <button class="button-clear button-icon ion-share pk-primary" ng-click=""></button> -->
	    <button class="button-clear button-icon ion-more pk-primary" ng-click="place.deletePlace()"></button>
		</div>
	</ion-header-bar>
	<ion-content class="post-container"  overflow-scroll='false' delegate-handle="userDetailContent" on-scroll="place.onUserDetailContentScroll()" header-shrink scroll-event-interval="5">
		<!-- placePost 영역 -->
		<div class="about-header" ng-show="place.post.name">
			<div class="profile-media">
        <div class="profile-details">
					<div class="row">
						<div class="col">
							<p ng-repeat="addr in place.post.addrs">
								{{addr}}
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<a href="tel:{{place.post.phoneNo||''}}">{{place.postHelper.getReadablePhoneNo(place.post.phoneNo) || '전화번호 없음'}}</a>
						</div>
					</div>
					<div class="row" style="font-size:30px;color:orange;">
						<div class="col">
						</div>
						<div class="col">
							<i class="ion-ios-star"></i>
						</div>
						<div class="col">
							<i class="ion-ios-star"></i>
						</div>
						<div class="col">
							<i class="ion-ios-star"></i>
						</div>
						<div class="col">
							<i class="ion-ios-star-half"></i>
						</div>
						<div class="col">
							<i class="ion-ios-star-outline"></i>
						</div>
						<div class="col">
						</div>
					</div>
					<div class="row">
						<div class="col place-tags-container">
							<span class="place-item-tag-large" ng-repeat="tag in place.post.tags">{{tag}}&nbsp;</span>
						</div>
					</div>
        </div>
      	<img ng-src="{{place.coverImage}}" class="about-image profile-background-image" style="vertical-align:middle;">
      </div>
		</div>
		<div class="button-bar bar-stable">
			<a class="button" ng-click="place.addNote()"><i class="ion-chatbox"></i> 댓글</a>
			<a class="button" ng-click="place.addURL()"><i class="ion-link"></i> URL추가</a>
			<a class="button" ng-click=""><i class="ion-android-share-alt"></i> 공유</a>
			<a class="button" ng-click=""><i class="ion-star"></i> 평가</a>
		</div>
		<div class="user-image">
			<img ng-repeat="image in place.post.userPost.images track by $index" ng-style="{height:place.getImageHeight(),'padding-left':5}" ng-src="{{image.summary}}" ng-click="place.showImagesWithFullScreen($index)">
			<img ng-style="{height:place.getImageHeight(),'padding-left':5}" src="img/add_photo.svg" ng-click="place.addPhoto()">
		</div>

		<!-- note 영역 -->
		<div class="card" ng-repeat="note in place.post.userPost.notes">
			<div class="row">
				<div class="col col-20">
					{{place.postHelper.getTimeString(note.timestamp)}}
				</div>
				<div class="col">
					{{note.content}}
				</div>
			</div>
		</div>

		<!-- 저장한 웹 문서 목록 -->
		<div class="list">
			<div class="item item-divider">
		    저장한 웹문서
		  </div>
			<a ng-repeat="url in place.URLs" class="item item-thumbnail-left" href="#" ng-click="place.openLink(url.url)">
				<img ng-src="{{url.image}}">
				<h2>{{url.title}}</h2>
				<p>{{url.desc}}</p>
			</a>
		</div>

		<!-- 검색 결과 -->
		<div class="list">
			<div class="item item-divider">
		    관련 블로그
		  </div>
			<a ng-repeat="result in place.searchResults" class="item" href="#" ng-click="place.openLink(result.link)">
				<h2>{{result.title}}</h2>
				<h3>{{result.author}}</h3>
				<p>{{result.description}}</p>
			</a>
		</div>

		<!-- 블로그 더 보기 버튼 -->
		<div class="button-bar bar-balanced" ng-show="place.post.name" style="margin-top:5px;">
			<a class="button" ng-click="place.searchPlace()">관련 블로그 더보기</a>
		</div>
	</ion-content>
	<ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <div id="container" class="list list-inset">
      <label id="rounded" class="item item-input chat-input">
        <img src="http://image005.flaticon.com/1/png/512/1/1533.png" height="20px">&nbsp;&nbsp;
        <input type="text" placeholder="태그를 입력하세요" ng-focus="scrollTop()" ng-keydown="place.processTags($event)" ng-model="place.tag">
      </label>
    </div>
  </ion-footer-bar>
</ion-view>
