<!-- start : real contents area -->
<ion-view title="장소 목록">
	<ion-header-bar class="pk-dark-primary" align-title="center">
		<h1 class="title">장소 목록</h1>
	</ion-header-bar>
	<ion-content>
		<!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="places.doRefresh('top')">
  	</ion-refresher> -->
		<ion-list>
      <ion-item class="item-divider">
				총 {{placesHome.totalCount}}개의 장소가 저장되어 있습니다.
				<span class="item-note">
					<a ng-click="placesHome.openFullList()" href="#">전체보기</a>
				</span>
			</ion-item>
    </ion-list>
		<div class="region-list">
			<div class="region" ng-repeat="region in placesHome.regions track by $index" ng-click="placesHome.goToPlaces($index)">
				<span class="region-title">{{region.name}} {{region.radiusName}}</span>
				<span class="region-count">{{region.count}}</span>
				<img class="region-img" ng-style="{height:placesHome.calculatedHeight || placesHome.getImageHeight()}"  src="img/add_photo.svg">
			</div>
		</div>
		<!-- <ion-infinite-scroll ng-if="!places.isEndOfList()" on-infinite="places.doRefresh('bottom')" immediate-check="false" distance="1%">
	  </ion-infinite-scroll> -->
	</ion-content>
</ion-view>
<!-- end : real contents area -->
