<ion-view>
	<ion-header-bar class="pk-primary">
		<div class="buttons">
	    <button class="button-clear button-icon ion-chevron-left ion-arrow-left pk-primary" ng-click="place.goBack()">
	      뒤로
	    </button>
		</div>
		<h1 class="title">능라</h1>
		<div class="buttons">
			<button class="button-clear button-icon ion-share pk-primary" ng-click=""></button>
	    <button class="button-clear button-icon ion-trash-a pk-primary" ng-click=""></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="place-container">
			<div class="place-name">

			</div>
			<div class="place-addr">
			</div>
			<div class="place-phone">
			</div>
			<div class="place-tags-container">
			</div>
		</div>
		<ion-scroll direction="x" class="image-container">
      <img ng-repeat="image in place.images track by $index" class="image-list-thumb" ng-show="image !== undefined" ng-src="{{ image }}">
    </ion-scroll>
		<div class="address">
			<span style="position:relative;top:5px;">경기도 성남시 삼평동 판교역로 25번길 3</span>
      <button class="button button-icon pk-accent ion-map button-small">지도보기</button>
		</div>
		<blockquote>
      {{place.comment}}
    </blockquote>
		<p><strong>{{place.getTagString()}}</strong></p>
	</ion-content>
</ion-view>
