<!-- start : real contents area -->
<ion-view title="Placekoob">
	<ion-header-bar class="pk-primary">
		<h1 class="title">Placekoob</h1>
		<!-- <a class="button button-icon button-clear ion-gear-a" ng-href="#/config"></a> -->
	</ion-header-bar>
	<ion-content scroll="false">
		<ui-gmap-google-map center="main.map.center" zoom="main.map.zoom" events="main.map.events" options="main.map.options" control="main.mapCtrl" data-tap-disabled="true">
			<script type="text/ng-template" id="save-dlg.tpl.html">
				<div class="button-bar button-bar-on-map">
					<a class="button pk-accent button-icon ion-pinpoint" ng-click="saveModal.savePosition()"> 현재 위치 저장</a>
					<a class="button pk-accent button-icon ion-link" ng-click="saveModal.saveURL()"> URL 저장</a>
				</div>
      </script>
			<ui-gmap-map-control template="save-dlg.tpl.html" position="top-center" controller="saveModalCtrl as saveModal" index="-1"></ui-gmap-map-control>
      <ui-gmap-marker coords="main.currentPosMarker.coords" options="{draggable: true, icon:'img/icon/main_pin_small.png'}" events="main.currentPosMarker.events" idkey="'currentPosMarker'">
      </ui-gmap-marker>
			<ui-gmap-marker ng-repeat="post in main.posts track by $index" coords="post.coords" options="post.options" idkey="$index" events="post.options.events">
      </ui-gmap-marker>
    </ui-gmap-google-map>
		<!-- <ion-slide-box class="slide-box-on-map" show-pager="false" does-continue="true" on-slide-changed="main.slidehasChanged($index)">
			<ion-slide>
				<div class="slide-on-map">
					<img class="list-thumbnail" ng-src="img/icon/gps.png" alt="현재 위치">
					<section>
						<h5>현재 위치</h5>
						<span class="place-desc">{{main.address}}</span><br>
						<span class="place-note">왼쪽으로 밀어 저장된 곳을 둘러보세요.</span>
					</section>
				</div>
			</ion-slide>
			<ion-slide  ng-repeat="post in main.posts">
				<div class="slide-on-map">
					<a ng-click="main.goPlace(post.uplace_uuid)" href="#"><img class="list-thumbnail" ng-src="{{post.thumbnailUrl}}"></a>
					<section>
						<a ng-click="main.goPlace(post.uplace_uuid)" href="#"><h5>{{post.name}}</h5></a>
						<span class="place-desc">{{post.address}}, {{post.phoneNo}}</span><br>
						<span class="place-note">
							<strong>{{post.desc}}</strong>
						</span>
					</section>
				</div>
			</ion-slide>
		</ion-slide-box> -->
		<ion-scroll class="slider-scroll-on-map" direction="x" ng-style="{width: main.getWidth(), height: main.getHeight()}" paging="true" on-scroll="main.scrollToMarker()" delegate-handle="mapScroll" overflow-scroll="false">
			<div ng-style="{width: main.getFullWidth()}">
				<!-- <div class="page" ng-style="{width: main.getWidth(), height: main.getHeight()}">
					<img class="list-thumbnail" ng-src="img/icon/gps.png" alt="현재 위치">
					<section>
						<h5>현재 위치</h5>
						<span class="place-desc">{{main.address}}</span><br>
						<span class="place-note">왼쪽으로 밀어 저장된 곳을 둘러보세요.</span>
					</section>
				</div> -->
				<!-- <div collection-repeat="item in main.list" class="page" ng-style="{width: main.getWidth(), height: main.getHeight()}">Page {{item.id}}</div> -->
				<div collection-repeat="post in main.posts" class="page" ng-style="{width: main.getWidth(), height: main.getHeight()}">
					<a ng-click="main.goPlace(post.uplace_uuid)" href="#"><img class="list-thumbnail" ng-src="{{post.thumbnailUrl}}"></a>
					<section>
						<div><a ng-click="main.goPlace(post.uplace_uuid)" href="#"><h5>{{post.name}}</h5></a>&nbsp;&nbsp;<span class="place-desc"><a href="tel:{{post.phoneNo}}">{{post.phoneNo}}</a></span></div>
						<span class="place-desc">{{post.address}}</span><br>
						<span class="place-note">
							<strong>{{post.desc}}</strong>
						</span>
					</section>
				</div>
      </div>
		</ion-scroll>
		<!-- 아이콘을 제공해 주신 은혜로운 서비스 -->
		<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
	</ion-content>
</ion-view>
<!-- end : real contents area -->
