<ion-view title="Placekoob">
	<ion-header-bar class="pk-dark-primary" align-title="center">
		<h1 class="title">Placekoob</h1>
		<!-- <a class="button button-icon button-clear ion-gear-a" ng-href="#/config"></a> -->
	</ion-header-bar>
	<ion-content scroll="false">
    <!-- button bar -->
    <div class="button-bar">
      <a class="button pk-accent button-icon ion-pinpoint" ng-click="map.savePosition()">&nbsp;현위치 저장</a>
      <a class="button pk-accent button-icon ion-link" ng-click="map.saveURL()">&nbsp;URL 저장</a>
      <a class="button pk-accent button-icon ion-refresh" ng-click="map.refresh()">&nbsp;위치 갱신</a>
    </div>

    <!-- map -->
    <div id="map"></div>

    <!-- show list button -->
		<!-- <div class="button-toggle-info-window" ng-show="map.posts.length > 0" ng-click="map.toggleInfoWindow()">
			<button class="button icon" ng-class="{'ion-ios-information': map.showInfoWindow, 'ion-ios-information-outline': !map.showInfoWindow}"></button>
		</div> -->

		<div class="button-show-list" ng-show="map.posts.length > 0" ng-click="map.showListDlg()">
			<button class="button icon ion-ios-list-outline"></button>
		</div>

    <!-- slider scroll -->
		<ion-scroll class="slider-scroll-on-map" direction="x" ng-style="{width: map.getWidth(), height: map.getHeight()}" paging="true" on-scroll="map.scrollToMarker()" delegate-handle="mapScroll" overflow-scroll="false">
			<div ng-style="{width: map.getFullWidth()}">
				<div collection-repeat="post in map.posts" class="page" ng-style="{width: map.getWidth(), height: map.getHeight()}">
					<div class="map-slider-desc">
						<a ng-click="map.goPlace(post.uplace_uuid)" href="#"><strong>{{post.name || '장소화 대기중'}}</strong></a>
						<br>
						<!-- <span class="place-desc"><a href="tel:{{post.phoneNo||''}}">{{post.phoneNo}}</a></span>&nbsp; -->
						<i class="{{icon}} place-star-point" ng-repeat="icon in map.SPS.get(post.userPost.rating.content) track by $index"></i><br>
						<!-- <span class="place-desc">{{post.address}}</span><br> -->
						<!-- <span class="place-note">
							<strong>{{post.desc}}</strong>
						</span> -->
						<span class="place-item-tag" ng-repeat="tag in post.userPost.tags track by $index">{{tag.content}}</span>
					</div>
					<div class="map-slider-thumbnail">
						<a ng-click="map.goPlace(post.uplace_uuid)" href="#">
							<img class="list-thumbnail" ng-src="{{post.thumbnailURL}}">
						</a>
					</div>
				</div>
      </div>
		</ion-scroll>
		<!-- 아이콘을 제공해 주신 은혜로운 서비스 -->
		<!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
	</ion-content>
</ion-view>
