<ion-modal-view>
	<ion-header-bar class="pk-primary" align-title="center">
		<button class="button button-icon button-clear ion-close" ng-click="map.closeSaveDlg()"></button>
	  <h1 class="title">웹문서를 저장합니다</h1>
	  <button class="button button-icon button-clear ion-checkmark" ng-click="map.confirmSaveURL()"></button>
	</ion-header-bar>
	<ion-content>
		<div class="list">
		  <div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="URL" style="width:100%;" ng-model="map.URL">
		    </label>
		    <!-- <button class="button button-small" ng-click="map.getURLPreview()">
		      열기
		    </button> -->
		  </div>
			<!-- <div class="item" style="border-width: 0px;">
		    <ion-checkbox ng-model="map.getFullContent" style="border-width: 0px;">해당 도메인의 모든 글 가져오기</ion-checkbox>
		  </div> -->
		</div>
		<!-- <div class="card">
		  <div class="item item-body">
				<h2>[하동관 河東館 여의도] 여의도 - 머리 속에 가장 먼저 떠오르는 곰탕</h2>
				<div style="text-align:center;">
		    <img style="width:300px;height:200px;text-align:center;" src="https://dcimgs.s3.amazonaws.com/images/p_images/54475/57449/54475_57449_77_0_2658_2015918185231704_70x70.jpg">
			</div>
		    <p>곰탕하면 머리 속에 제일 먼저 생각나는 건 하동관.. 워낙에 어린 시절부터 먹은 곳이라 인에 박혀있어 그런 듯도 싶고.. 개운하고 구수하면서도 깔끔하게 먹을 수 있는 이런 류의...</p>
		  </div>
		</div> -->
		<!-- <label class="item item-input item-stacked-label">
  		<span class="input-label">Note</span>
			<textarea rows="10" placeholder="이 위치에 대해서 간단한 메모를 남기면 다음에 기억을 떠올리기 쉬워집니다. #을 사용하면 태그를 달 수 있어요!" ng-model="map.note"></textarea>
		</label> -->
		<div class="row">
			<div class="col place-tags-container">
				<span class="place-item-tag-large" ng-repeat="tag in map.tags track by $index">{{tag}}&nbsp;</span>
			</div>
		</div>
		<!-- <ion-checkbox ng-model="map.getFullContent" style="border-width: 0px;">해당 도메인의 모든 글 가져오기</ion-checkbox> -->
	</ion-content>
	<ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <div id="container" class="list list-inset">
      <label id="rounded" class="item item-input chat-input">
        <img src="http://image005.flaticon.com/1/png/512/1/1533.png" height="20px">&nbsp;&nbsp;
        <input type="text" placeholder="태그를 입력하세요" ng-focus="scrollTop()" ng-keydown="map.processTags($event)" ng-model="map.tag">
      </label>
    </div>
  </ion-footer-bar>
</ion-modal-view>
