<ion-modal-view>
	<ion-header-bar class="pk-dark-primary">
		<button class="button button-icon button-clear ion-close" ng-click="saveModal.closeSaveDlg()"></button>
	  <h1 class="title">웹문서를 저장합니다</h1>
	  <button class="button button-icon button-clear ion-checkmark" ng-click="saveModal.confirmSave()"></button>
	</ion-header-bar>
	<ion-content scroll="false">
		<ion-scroll direction="x" scrollbar-x="false">
			<div class="image-container">
				<!-- <div class="images">
				</div>
				<div class="add-image">
				</div> -->
				<div style="{{saveModal.images.length != 0 ? 'position:relative;top:-24px;' : ''}}width:70px;height:130px;display:inline-block;">
					<button ng-disabled="saveModal.images.length == 5" class="button button-outline button-energized button-icon ion-camera button-square-large" ng-click="saveModal.addImageWithCamera()" style="display:block;"></button>
					<button ng-disabled="saveModal.images.length == 5" class="button button-outline button-energized button-icon ion-images button-square-large" ng-click="saveModal.addImageWithPhotoLibrary()" style="display:block;"></button>
				</div>
				<img ng-repeat="image in saveModal.images track by $index" class="image-list-thumb" ng-show="image !== undefined" ng-src="{{ image }}" ng-click="saveModal.popUpForRemove($index)">
			</div>
		</ion-scroll>
		<label class="item item-input item-stacked-label">
  		<span class="input-label">Note</span>
			<textarea rows="10" placeholder="이 위치에 대해서 간단한 메모를 남기면 다음에 기억을 떠올리기 쉬워집니다. #을 사용하면 태그를 달 수 있어요!" ng-model="saveModal.note"></textarea>
		</label>
	</ion-content>
</ion-modal-view>
