<ion-modal-view>
	<ion-header-bar class="pk-dark-primary">
		<button class="button button-icon button-clear ion-close" ng-click="saveModal.closeSaveDlg()"></button>
	  <h1 class="title">현재 위치를 저장합니다</h1>
	  <button class="button button-icon button-clear ion-checkmark" ng-click="saveModal.confirmSave()"></button>
	</ion-header-bar>
	<ion-content scroll="false">
		<ion-scroll direction="x" scrollbar-x="false">
			<div class="media-input">
				<!-- <div class="images">
				</div>
				<div class="add-image">
				</div> -->
				<button class="button button-outline button-energized button-icon ion-plus button-square-large"></button>
			</div>
		</ion-scroll>
		<label class="item item-input item-stacked-label">
  		<span class="input-label">Note</span>
			<textarea rows="10" placeholder="이 위치에 대해서 간단한 메모를 남기면 다음에 기억을 떠올리기 쉬워집니다. #을 사용하면 태그를 달 수 있어요!"></textarea>
		</label>
	</ion-content>
</ion-modal-view>
