@charset "UTF-8";

.button-toggle-info-window {
  position: absolute;
  right: 65px;
  bottom: 95px;
  border: 1px solid grey;
  border-radius: 5px;
  opacity: 0.85;
}

.button-show-list {
  position: absolute;
  right: 5px;
  bottom: 95px;
  border: 1px solid grey;
  border-radius: 5px;
  opacity: 0.85;
}

.page {
  float: left;
  display: inline-block;
  border: 1px solid #B6B6B6;
  padding: 5px;
  background-color: white;
  color: #727272;
  opacity: 0.85;
}

.slider-scroll-on-map {
  position: absolute;
  bottom: 0px;

  a:link,
  a:visited,
  a:hover {
    color: black;
    text-decoration: none;
  }

  .place-desc {
    font-size: 80%;
    color: #727272;
  }

  .place-note {
    font-size: 90%;
  }
}

.map-slider-desc {
  position: absolute;
  left: 10px;
}

.map-slider-thumbnail {
  position: absolute;
  right: 0px;
}

//  start : google map infowindow part
.gm-style-iw {
   width: 100px !important;
   top: 48px !important; // move the infowindow 15px down
   left: 0 !important;
   background-color: #fff;
   /*box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);*/
   border: 1px solid rgba(72, 181, 233, 0.6);
   /*border-radius: 2px 2px 0 0;*/
}

.iw-container {
  .iw-title {
     font-family: 'Open Sans Condensed', sans-serif;
     font-size: 12px;
     padding: 3px;
     background-color: #48b5e9;
     color: white;
     /*margin: 1px;*/
     width: 100px;
     height: 26px;
     overflow: hidden;
     text-align: center;
     border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
  }

  .iw-content {
    text-align: center;
  }

  .tag {
    background-color: #FFC107;
    color: #FFF;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    text-align: center;
  }
}
//  end : google map infowindow part
