<ion-view title="설정">
	<ion-header-bar class="pk-dark-primary" align-title="center">
		<h1 class="title">설정</h1>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<ion-item class="item-icon-left item-icon-right" href="#/config/import">
				<i class="icon ion-ios-download-outline"></i>
				가져오기
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item class="item-icon-left item-icon-right" href="#/config/import">
				<i class="icon ion-ios-bell-outline"></i>
				이벤트
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item class="item-icon-left item-icon-right" href="#/config/import">
				<i class="icon ion-ios-information-outline"></i>
				공지사항
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item class="item-icon-left item-icon-right" href="#/config/import">
				<i class="icon ion-ios-list-outline"></i>
				약관 및 정책
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item class="item-icon-left item-icon-right" href="#/config/import">
				<i class="icon ion-ios-help-outline"></i>
				도움말
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item class="item-icon-left item-icon-right" href="#/config/import">
				<i class="icon ion-ios-person-outline"></i>
				계정 관리
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item class="item-icon-left item-icon-right" href="#/config/import">
				<i class="icon ion-ios-gear-outline"></i>
				설정
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
      <button class="button button-outline button-balanced button-full" ng-click="config.requestUserInfo()">사용자 정보 얻기</button>
			<!-- <ion-toggle  ng-model="config.devmode" ng-change="config.setDevMode()">
        <i class="icon ion-hammer"></i> 개발서버접속(회사 내부 망에 있어야 함)
      </ion-toggle> -->
			<div>
				<table style="border:1px solid grey">
					<tr><td style="border:1px solid grey">auth_user_token</td><td>{{config.auth_user_token}}</td></tr>
					<tr><td style="border:1px solid grey">auth_vd_token</td><td>{{config.auth_vd_token}}</td></tr>
					<tr><td style="border:1px solid grey">email</td><td>{{config.email}}</td></tr>
					<tr><td style="border:1px solid grey">language</td><td>{{config.lang}}</td></tr>
					<tr><td style="border:1px solid grey">country</td><td>{{config.country}}</td></tr>
				</table>
			</div>
			<button class="button button-outline button-assertive button-full" ng-click="config.logout()">로그 아웃</button>
    </ion-list>
	</ion-content>
</ion-view>
