/* Empty. Add your own CSS if you like */
.pk-dark-primary {
  background-color: #455A64;
  color: #FFFFFF;
}

.pk-primary {
  background-color: #607D8B;
  color: #FFFFFF;
}

.pk-light-primary {
  background-color: #CFD8DC;
  color: #212121;
}

.pk-accent {
  background-color: #FFC107;
  color: #FFFFFF;
}

.pk-primary-text {
  color: #212121;
}

.pk-secondary-text {
  color: #727272;
}

.pk-divider {
  color: #B6B6B6;
}

div.pk-dark-primary{
  background-color: #607D8B;
}

.bar button.pk-dark-primary{
  background-color: #455A64;
  color: #FFFFFF;
  border-color: transparent;
  color: #FFFFFF;
}

.bar button.pk-primary{
  background-color: #607D8B;
  color: #FFFFFF;
  border-color: transparent;
  color: #FFFFFF;
}

.register {
  text-align: center;
  color: #FFFFFF;
}

.register a {
  color: #FFC107;
}

.app-title {
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 50px;
}

.app-title .main-title {
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 0px 2px #B6B6B6;
}

.app-title .sub-title {
  text-align: right;
  color: #FFFFFF;
}

.introduction {
  align-text: center;
  font-size: 90%;
}

.register-content {
  padding-top:30%;
}

.register-button-container {
  padding-top: 10%;
}

.company {
  padding-top: 30px;
}

.company-name {
  color: #FFFFFF;
  font-size: 60%;
}

.company-logo img {
  height: 96px;
}

.guide-message {
  text-align: center;
}

.pk-dark-primary .title, .pk-dark-primary .button {
  color: #FFFFFF;
}

.pk-primary .title, .pk-primary .button {
  color: #FFFFFF;
}

.pk-accent .title {
  color: #FFFFFF;
}

.button-float {
  position: absolute;
  bottom: 150px;
  right: 50px;
  border-radius: 50%;
  z-index: 255;
}

.button-round {
  border-radius: 50%;
  margin: 0;
  padding: 0;
  min-width: 47px;
  min-height: 47px;
}

.slide-scroll-on-map {
  position: relative;
  overflow-x:scroll;
  margin: auto;
}

div.image-container {
  /*overflow: scroll;*/
  white-space: nowrap;
  width: 100%;
  height: 150px;
  padding-top: 10px;
  padding-left: 6px;
  padding-bottom: 10px;
  padding-right: 6px;
}

div.address {
  text-align: center;
  padding-top: 15px;
  height: 50px;
}

img.list-thumbnail {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.image-list-thumb {
  padding: 2px 2px 2px 2px;
  height: 250px;
}

.image-list-thumb-large {
  padding: 4px 4px 4px 4px;
  height: 450px;
}

.button-bar-on-map {
  opacity: 0.85;
}

div.slide-box-on-map {
  position: relative;
  top: -115px;
  width: 95%;
  margin: auto;
}

div.slide-on-map {
  border: 1px solid #B6B6B6;
  width: 100%;
  height: 90px;
  padding: 5px;
  background-color: white;
  color: #727272;
  opacity: 0.85;
}

.slide-on-map h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.slide-on-map .place-desc {
  font-size: 80%;
  color: #727272;
}

.slide-on-map .place-note {
  font-size: 90%;
}

button.button-square-large {
  width: 60px;
  height: 60px;
  margin-bottom: 4px;
}

img.image-list-thumb {
  height: 124px;
}

span.place-item-name {
  font-size: 90%;
}

span.place-item-addr {
  font-size: 80%;
  color: #727272;
}

div.place-item-note {
  font-size: 90%;
  display: inline-block;
}

span.place-item-tag {
  font-size: 85%;
  margin: 2px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background-color: #727272;
  color: #FFFFFF;
}

.post-container {
  font-size: 85%;
  color: #727272;
}

.place-post-container {
  padding: 20px;
  text-align: center;
}

.place-name {
  font-size: 150%;
}

.user-post-container {
  background-color: #CFD8DC;
  border-radius: 5px;
  margin: 10px;
  padding: 8px;
}

.user-post-container .user-post-title {
  /*border: 1px solid #555555;*/
  text-align: center;
  margin-bottom: 5px;
}
.user-post-container .user-note {
  color: #212121;
  border-radius: 5px;
  padding: 5px;
  background-color: #FFFFFF;
  margin-bottom: 5px;
}

.user-post-container .user-image {
  max-width: 100%;
  text-align: center;
  position: relative;
  background-color: #FFFFFF;
  padding-top: 6px;
}

.user-post-container .user-image .image-preview {
  width: auto;
  height: 300px;
}

.user-post-container .user-image .user-image-comment {
  background-color: #313131;
  opacity: 0.85;
  color: #FFFFFF;
  padding-top: 12px;
  width: 100%;
  height: 40px;
  position: absolute;
  top: 155px;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
  background: rgba(0,0,0,0.7);
}

.slider {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider-scroll-on-map {
  position: relative;
  top: -115px;
}
.page {
  float: left;
  display: inline-block;
  border: 1px solid #B6B6B6;
  padding: 5px;
  background-color: white;
  color: #727272;
  opacity: 0.85;
}

.slider-scroll-on-map h5 {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.slider-scroll-on-map .place-desc {
  font-size: 80%;
  color: #727272;
}

.slider-scroll-on-map .place-note {
  font-size: 90%;
}

/* ionic component customizing area*/
.item-complex .item-content {
  padding-top: 8px;
  padding-bottom: 8px;
}

.popup-container .popup {
  width: 100%;
}

.button.button-more-width {
  width: 200px;
}
