/* Empty. Add your own CSS if you like */
.pk-dark-primary {
  background-color: #455A64;
  color: #FFFFFF;
}

.pk-primary {
  background-color: #607D8B;
  color: #FFFFFF;
}

.pk-light-primary {
  background-color: #CFD8DC;
  color: #212121;
}

.pk-accent {
  background-color: #FFC107;
  color: #FFFFFF;
}

.pk-primary-text {
  color: #212121;
}

.pk-secondary-text {
  color: #727272;
}

.pk-divider {
  color: #B6B6B6;
}

div.pk-dark-primary{
  background-color: #607D8B;
}

.bar button.pk-dark-primary{
  background-color: #455A64;
  color: #FFFFFF;
  border-color: transparent;
  color: #FFFFFF;
}

.bar button.pk-primary{
  background-color: #607D8B;
  color: #FFFFFF;
  border-color: transparent;
  color: #FFFFFF;
}

.register {
  text-align: center;
  color: #FFFFFF;
}

.register a {
  color: #FFC107;
}

.app-title {
  margin-left: 30%;
  margin-right: 30%;
}

.app-title .main-title {
  text-align: center;
  color: #FFFFFF;
}

.app-title .sub-title {
  text-align: right;
  color: #FFFFFF;
}

.company-name{
  color: #FFFFFF;
}

.guide-message {
  text-align: center;
}

.pk-dark-primary .title, .pk-dark-primary .button {
  color: #FFFFFF;
}

.pk-primary .title, .pk-primary .button {
  color: #FFFFFF;
}

.pk-accent .title {
  color: #FFFFFF;
}

.button-float {
  position: absolute;
  bottom: 150px;
  right: 50px;
  border-radius: 50%;
  z-index: 255;
}

.button-round {
  border-radius: 50%;
  margin: 0;
  padding: 0;
  min-width: 47px;
  min-height: 47px;
}

div.media-input {
  border: 1px solid red;
  width: 100%;
  height: 200px;
  padding-top: 4px;
  padding-left: 4px;
}

div.images {
  border: 1px solid blue;
  padding: 5px;
  width: 300px;
  height: 190px;
  display: inline-block;
}

div.add-image {
  width: 80px;
  height: 200px;
  border: 1px solid blue;
  padding-top: 4px;
  padding-left: 4px;
  display: inline-block;
}

div.button-container {
  text-align: right;
  margin-top:30px;
  padding-right: 20px;
}

div.button-container-center {
  text-align: center;
}

div.address {
  text-align: center;
  padding-top: 15px;
  height: 50px;
}

img.list-thumbnail {
  float: left;
  width: 105px;
  height: 70px;
  margin-right: 10px;
}

.image-list-thumb {
  padding: 2px 2px 2px 2px;
  height: 250px;
}

.image-list-thumb-large {
  padding: 4px 4px 4px 4px;
  height: 450px;
}

.image-container {
  overflow: scroll;
  white-space: nowrap;
  /* height: 250px;
  min-height: 250px; */
}

div.place-preview {
  position: relative;
  top: -135px;
  width: 95%;
  margin: auto;
}
