/* Empty. Add your own CSS if you like */
.pk-dark-primary {
  background-color: #455A64;
  color: #FFFFFF;
}

.pk-primary {
  background-color: #607D8B;
  color: #FFFFFF;
}

.pk-light-primary {
  background-color: #CFD8DC;
  color: #212121;
}

.pk-accent {
  color: #FFC107;
}

.pk-primary-text {
  color: #212121;
}

.pk-secondary-text {
  color: #727272;
}

.pk-divider {
  color: #B6B6B6;
}

div.pk-dark-primary{
  background-color: #607D8B;
}
